/* Signup Component Styles */
.Signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .Signup-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .Signup-container form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .Signup-container label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .Signup-container input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0px;
    width: 100%;
  }
  
  .Signup-container button {
    padding: 12px 45px;
    background-color: orangered;
    color: #FFFFFF;
    font-size: 12px;
    border: 1px solid #FF4B2B;
    border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
  }
  
  .Signup-container button:active{
    transform: scale(0.95);
  }

  .Signup-container button:focus{
    outline: none;
  }

  .Signup-container button.forgot-password{
    background-color: transparent;
    border-color: #FFFFFF;
  }
  
  
  /* Additional styles for the "Forgot Password" link */
  .Signup-container .forgot-password {
    margin-top: 10px;
    text-align: center;
  }
  
  .Signup-container .forgot-password a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .Signup-container .forgot-password a:hover {
    text-decoration: underline;
  }
  