/* Signup Component Styles */
.Signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .Signup-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .Signup-container form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .Signup-container label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .Signup-container input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .Signup-container button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .Signup-container button:hover {
    background-color: #0056b3;
  }
  
  
  /* Additional styles for the "Forgot Password" link */
  .Signup-container .forgot-password {
    margin-top: 10px;
    text-align: center;
  }
  
  .Signup-container .forgot-password a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .Signup-container .forgot-password a:hover {
    text-decoration: underline;
  }
  