/* Importer une police Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/* Définir les variables de couleur et de typographie */
:root {
  --primary-color: #06213d;
  --secondary-color: #6c757d;
  --font-family: 'Open Sans', sans-serif;
}

/* Appliquer les styles de base au corps du document */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: 16px;
  background-color: #f0f0f0;
}

/* Styles de l'en-tête */
header {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
}

header.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

header a:hover {
  color: var(--secondary-color);
}

/* Styles pour la classe .pages */
.pages {
  padding: 2rem;
}
/*navbar*/ 
 /*Navbar.css */
header {
  background-color: #0077b5;
  color: #fff;
  padding: 1rem 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 1.5rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #063b51;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info span {
  margin-right: 1rem;
}

.logout-button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.logout-button:hover {
  color: #00a8e8;
}
