/* Importer une police Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/* Définir les variables de couleur et de typographie */
:root {
  --primary-color: #06213d;
  --secondary-color: #6c757d;
  --font-family: 'Open Sans', sans-serif;
}

/* Appliquer les styles de base au corps du document */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: 16px;
  background-color: #f0f0f0;
}

/* Styles de l'en-tête */
header {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

header a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

header a:hover {
  color: var(--secondary-color);
}

/* Styles pour la classe .pages */
.pages {
  /* padding: 0 2rem; */
}
/*navbar*/ 
 /* Navbar.css */

header {
  background-color: #222B2D; /* Use primary color from your theme */
  color: #FFFEF9; /* Use white color from your theme */
  padding: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;

  a {
    color: #29AABB; /* Use secondary color from your theme */
    text-decoration: none;
    margin-right: 1rem;
    transition: color 0.3s ease;

    &:hover {
      color: #148C9C; /* Use hover color from your theme */
    }
  }

  button {
    background-color: transparent;
    border: none;
    color: #29AABB; /* Use secondary color from your theme */
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: #148C9C; /* Use hover color from your theme */
    }
  }
}

