/* Styles pour la barre de navigation du tableau de bord */
.navbar-dashboard {
    background-color: #29221d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .navbar-logo a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
  }
  
  .navbar-links li {
    margin-right: 20px;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  